@charset "UTF-8";

@font-face {
  font-family: 'Koruri-Bold';
  src: url(/fonts/Koruri-Bold.ttf);
}

@font-face {
  font-family: 'Koruri-Extrabold';
  src: url(/fonts/Koruri-Extrabold.ttf);
}

@font-face {
  font-family: 'Koruri-Light';
  src: url(/fonts/Koruri-Light.ttf);
}

@font-face {
  font-family: 'Koruri-Regular';
  src: url(/fonts/Koruri-Regular.ttf);
}

@font-face {
  font-family: 'Koruri-Semibold';
  src: url(/fonts/Koruri-Semibold.ttf);
}
