@charset "utf-8";

@import "settings";
@import "imports";
@import "highlighting";

@import "koruri";

body {
  font-family: Koruri-Regular;
  margin-top: $marginTopBody;
}

.pocket-btn {
  display: inline-block;
}

h1 {
  font-family: Koruri-SemiBold;
}

h2, h3, h4, h5, h6 {
  font-family: Koruri-Reqular;
}
